{% extends 'config.html' %}

{% block config_content %}
<h3 class="text-xl font-semibold mb-4">Tokens and API Keys</h3>
<form method="post">
    <label for="discord_token">Discord Token:</label><br>
    <input type="password" id="discord_token" name="discord_token" value="{{ discord_token }}" class="mb-2 p-2 border rounded"><br><br>
    <label for="openai_api_key">OpenAI API Key:</label><br>
    <input type="password" id="openai_api_key" name="openai_api_key" value="{{ openai_api_key }}" class="mb-2 p-2 border rounded"><br><br>
    <input type="submit" value="Save" class="px-4 py-2 bg-pink-400 text-white rounded hover:bg-pink-500">
</form>
{% endblock %}

